@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Inter", sans-serif;
    color: white;
}

nav {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 700;
}

nav a, .logo {
    color: white;
}

.auth a {
    margin-left: 1rem; /* 1rem = 16px */
    text-decoration: none;
}

/* MAIN */
main {
    padding: 32px;
}
#main_heading {
    margin-top: 2rem;
    font-size: 4.6rem;
    font-weight: 700;
}

#main_heading .turn .your {
    display: block;
}

#main_heading .goals {
    display: block;
}

#main_heading .goals > strong {
    color: #B9EB4E;
    /* font-size: 6rem; */
}

.hero_contianer {
    display: flex;
    justify-content: space-between;
}

/* IMAGE DIVS */
.images {
    display: flex;
    flex-wrap: wrap;
}

.images img {
    background-color: #e0e0e0;
    border-radius: 15px;
    width: 300px;
}

.search_bar {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
}

.search_input {
    width: 800px;
    padding: 15px;
    background: url("assets/search_icon.svg") no-repeat right 15px center;
    background-size: 30px 30px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: white;
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0px;
    width: 100vw;
    padding: 32px;
    background-color: black;
}

footer .footer_content {
    display: flex;
    justify-content: space-between;
    
}

footer .footer_social {
    display: flex;
    justify-content: center;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}