.projects {
    background-color: white;
    margin-top: 50px;
    display: flex;
    /* justify-content: left; */
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 50px 0;
}
.content_img img {
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    width: 300px;
    height: 220px;
}

