@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/background_image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Inter", sans-serif;
  color: white;
  z-index: -11;
  position: relative;
  /* object-fit: fill;  */
  height: 100vh;
}

nav {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 700;
}
/* Nav Bar */
/* Navbar - Fixed on scroll */
.nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: background-color 0.3s ease;
}

.nav_bar.sticky {
  background: white;
  color: black;
}

.nav_bar.sticky a,
.nav_bar.sticky .logo {
  color: black;
}

nav a,
.logo {
  color: white;
}

.auth a {
  margin-left: 1rem; /* 1rem = 16px */
  text-decoration: none;
}

/* MAIN */
.landing {
  padding: 32px;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}

.heading_one,
.heading_two,
.heading_three,
.heading_four {
  margin-top: 2rem;
  font-size: 4.6rem;
  font-weight: 700;
}

.heading_one .turn .your,
.heading_two .turn .your,
.heading_three .turn .your,
.heading_four .turn .your {
  display: block;
}

.heading_one .goals,
.heading_two .goals,
.heading_three .goals,
.heading_four .goals {
  display: block;
}

.heading_one .goals > strong {
  color: #b9eb4e;
  /* font-size: 6rem; */
}

.heading_two .goals > strong {
  color: #f35a6d;
}

.heading_three .goals > strong {
  color: #ff9a00;
}

.heading_four .goals > strong {
  color: #ffe500;
}

.hero_contianer {
  display: flex;
  justify-content: space-between;
}

/* IMAGE DIVS */
/* .images {} */

.images img {
  background-color: #e0e0e0;
  width: 300px;
  border-radius: 15px;
}

.images .disable {
  display: none;
}

.hero_text.disable {
  display: none;
}

.hero_text.active {
  display: block;
}

.images .image.disable {
  display: none;
}

.images .image.active {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  /* justify-content: space-around; */
  width: 459px;
}

.images .image_one {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  /* position: relative; */
  /* top: 22%; */
  /* left: 70%; */
}

.images .two {
  transform: scale(1.5);
  z-index: 10;
}

.images .image_two {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  /* position: relative; */
  /* left: 82%; */
  /* top: 25%; */
  z-index: -1;
}

.images .image_three {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  /* position: relative; */
  /* top: 40%; */
  /* left: 83%; */
  z-index: 2;
}

.images .image_four {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  /* position: relative; */
  /* top: 38%; */
  /* left: 71%; */
  z-index: 3;
}

/* SEARCH BAR */
.search_bar {
  display: flex;
  justify-content: center;
  /* position: relative; */
  bottom: 20px;
  /* top: 80px; */
  /* margin-top: 80px; */
}

.search_input {
  width: 800px;
  padding: 15px;
  background: url("assets/search_icon.svg") no-repeat right 15px center;
  background-size: 30px 30px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid skyblue;
}

/* FOOTER */
footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: 32px;
  background-color: black;
}

footer .footer_content {
  display: flex;
  justify-content: space-between;
}

footer .footer_social {
  display: flex;
  justify-content: center;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
