<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/backend/static/styles.css" />
    <title>Footo</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="logo">Footo</div>
        <div class="auth">
          <a href="#">Login</a>
          <a href="#">Sign up</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="hero_contianer">
        <h1 class="hero_text heading_one active">
          <span class="turn">Turn</span>
          <span class="turn">Your</span>
          <span class="goals"><strong>Goals</strong> Into</span>
          <span class="Reality">Reality</span>
        </h1>
        <h1 class="hero_text heading_two disable">
          <span class="turn">Find</span>
          <span class="turn">The</span>
          <span class="goals"><strong>Work</strong> You</span>
          <span class="Reality">Truly Love</span>
        </h1>
        <h1 class="hero_text heading_three disable">
          <span class="turn">Discover</span>
          <span class="turn">Your</span>
          <span class="goals"><strong>Perfect</strong> Match</span>
          <span class="Reality">Today</span>
        </h1>
        <h1 class="hero_text heading_four disable">
          <span class="turn">Forge</span>
          <span class="turn">The</span>
          <span class="goals"><strong>Work</strong> You</span>
          <span class="Reality">Imagine</span>
        </h1>
      </div>
      <div class="images">
        <div class="image active">
          <div class="image_one">
            <img src="/backend/assets/girl_photo.jpg" alt="Girl working on latptop." />
          </div>
          <div class="image_two">
            <img
              class="two"
              src="/backend/assets/man_taking_photo_with_camera.jpg"
              alt="man takind photo with camera."
            />
          </div>
          <div class="image_three">
            <img
              src="/backend/assets/team_looking_at_work.jpg"
              alt="more than 5 people in team looking towards 
        laptop."
            />
          </div>
          <div class="image_four">
            <img
              src="/backend/assets/goal_achived.jpg"
              alt="A girl happy in front of laptop and 
      celebrating."
            />
          </div>
        </div>
        <div class="image disable">
          <div class="image_one">
            <img
              src="/backend/assets/man_standing_work.jpg"
              alt="main standing in behind the desk working."
            />
          </div>
          <div class="image_two">
            <img
              src="/backend/assets/table_latop_working.jpg"
              alt="table laptop working."
            />
          </div>
          <div class="image_three">
            <img
              src="/backend/assets/girls_working_together.jpg"
              alt="girls working together"
            />
          </div>
          <div class="image_four">
            <img
              src="/backend/assets/working_by_herself.jpg"
              alt="a person working on a desk using laptop."
            />
          </div>
        </div>
        <div class="image disable">
          <div class="image_one">
            <img
              src="/backend/assets/group_team_work.jpg"
              alt="team in a group working together."
            />
          </div>
          <div class="image_two">
            <img
              src="/backend/assets/shaking_hands.jpg"
              alt="two persons shaking hand."
            />
          </div>
          <div class="image_three">
            <img
              src="/backend/assets/team_chating.jpg"
              alt="team 
          chating"
            />
          </div>
          <div class="image_four">
            <img
              src="/backend/assets/guy_holding_camera.jpg"
              alt="guy holding camera in front of laptop on top 
            of desk."
            />
          </div>
        </div>
        <div class="image disable">
          <div class="image_one">
            <img
              class="one"
              src="/backend/assets/desk_top_people.jpg"
              alt="team in a group working together."
            />
          </div>
          <div class="image_two">
            <img
              src="/backend/assets/person_using_latptop.jpg"
              alt="person using latptop."
            />
          </div>
          <div class="image_three">
            <img
              src="/backend/assets/desktop_full_view.jpg"
              alt="Computer desktop full view."
            />
          </div>
          <div class="image_four">
            <img
              src="/backend/assets/happy_person.jpg"
              alt="A happy 
          person is smiling."
            />
          </div>
        </div>
      </div>
      <div class="search_bar">
        <input
          autofocus
          type="search"
          placeholder="Search..."
          class="search_input"
        />
      </div>
    </main>
    <footer>
      <div class="contianer">
        <div class="footer_content">
          <div class="footer_copyright">
            <span>Footo</span> &copy; 2024 | All Rights Reserved
          </div>
          <div class="footer_social">
            <ul>
              <li>facebook</li>
              <li>instagram</li>
              <li>email</li>
              <li>Whatsapp</li>
              <li>LinkedIn</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="/backend/static/script.js"></script>
  </body>
</html>
